/*-elements-*/

.header__list.done,
.thrive__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-mixins-*/

/*-variable-*/

/*-base-*/

@font-face {
  font-family: 'LarsseitRegular';
  src: url("../../assets/fonts/Larsseit.eot");
  src: local("Larsseit"),url("../../assets/fonts/Larsseit.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/Larsseit.woff2") format("woff2"),url("../../assets/fonts/Larsseit.woff") format("woff"),url("../../assets/fonts/Larsseit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitBold';
  src: url("../../assets/fonts/Larsseit-Bold.eot");
  src: local("Larsseit Bold"),local("Larsseit-Bold"),url("../../assets/fonts/Larsseit-Bold.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/Larsseit-Bold.woff2") format("woff2"),url("../../assets/fonts/Larsseit-Bold.woff") format("woff"),url("../../assets/fonts/Larsseit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LarsseitMedium';
  src: url("../../assets/fonts/Larsseit-Medium.eot");
  src: local("Larsseit Medium"),local("Larsseit-Medium"),url("../../assets/fonts/Larsseit-Medium.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/Larsseit-Medium.woff2") format("woff2"),url("../../assets/fonts/Larsseit-Medium.woff") format("woff"),url("../../assets/fonts/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

main,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-size: 10px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "LarsseitBold";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

progress {
  vertical-align: baseline;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

code,
kbd,
samp {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/*-components-*/

.button {
  width: 150px;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  font-family: "$LarsseitBold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #62D0DF;
  border-radius: 50px;
}

.burger {
  display: none;
  width: 35px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: left 500ms ease,top 500ms ease;
  -o-transition: left 500ms ease,top 500ms ease;
  transition: left 500ms ease,top 500ms ease;
}

.block.active {
  display: block;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  visibility: visible;
}

.burger.w {
  left: 80%;
  top: 6%;
}

.burger span,
.burger::after,
.burger::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #29005e;
  -webkit-transition: top 500ms ease,-webkit-transform 500ms ease;
  transition: top 500ms ease,-webkit-transform 500ms ease;
  -o-transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease,-webkit-transform 500ms ease;
}

.burger span {
  top: 50%;
}

.burger::before {
  top: 100%;
  -webkit-transition: top 500ms ease,-webkit-transform 500ms ease;
  transition: top 500ms ease,-webkit-transform 500ms ease;
  -o-transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease,-webkit-transform 500ms ease;
}

.burger::after {
  top: 0%;
  -webkit-transition: top 500ms ease,-webkit-transform 500ms ease;
  transition: top 500ms ease,-webkit-transform 500ms ease;
  -o-transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease,-webkit-transform 500ms ease;
}

.burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: top 500ms ease,-webkit-transform 500ms ease;
  transition: top 500ms ease,-webkit-transform 500ms ease;
  -o-transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease,-webkit-transform 500ms ease;
}

.burger.active::before {
  top: 40%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 500ms ease,-webkit-transform 500ms ease;
  transition: top 500ms ease,-webkit-transform 500ms ease;
  -o-transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease;
  transition: top 500ms ease,transform 500ms ease,-webkit-transform 500ms ease;
}

.burger.active::after {
  top: 40%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.block {
  min-width: 360px;
  height: 50%;
  padding: 25px 0;
  position: fixed;
  top: 25%;
  left: 0;
  z-index: 500;
  background-color: rgba(78, 76, 66, 0.801);
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: visibility 500ms ease,-webkit-transform 500ms ease;
  transition: visibility 500ms ease,-webkit-transform 500ms ease;
  -o-transition: transform 500ms ease,visibility 500ms ease;
  transition: transform 500ms ease,visibility 500ms ease;
  transition: transform 500ms ease,visibility 500ms ease,-webkit-transform 500ms ease;
}

.menu {
  width: 100%;
  height: 100%;
}

.header__list.done {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.header__list.done .header__items:not(:last-of-type) {
  margin-bottom: 25px;
}

.header__list.done .header__items .header__link {
  font-size: 30px;
  line-height: 40px;
}

/*-components-BEM-*/

.page {
  display: grid;
  grid-template-columns: 25% 120px 6.59722% 10.76389% 13.54167% 3.125% 8.33333% 1fr;
  grid-template-rows: 100vh;
  grid-auto-rows: minmax(260px, auto);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-size: 24px;
  line-height: 42px;
  font-family: "LarsseitRegular";
  color: #22356F;
}

.logo {
  font-size: 24px;
  line-height: 27px;
  font-family: "LarsseitBold";
  color: #62D0DF;
  letter-spacing: -0.035em;
}

/*-Header-*/

.header--bg {
  background: url("../assets/images/header/bg.png")/73% 100% no-repeat;
}

.header {
  grid-column: 1/span 8;
  position: relative;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
}

.header__container {
  height: 100%;
  padding: 35px 15px 75px 15px;
  border: 1px solid #000;
}

.header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__items:not(:last-of-type) {
  margin-right: 20px;
}

.header__link {
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.header__title {
  max-width: 500px;
  margin: 50px 0 80px 0;
  font-size: 48px;
  line-height: 55px;
  font-family: "LarsseitBold";
  color: #22356F;
  letter-spacing: -0.035em;
}

.header__text {
  max-width: 490px;
}

.header__buttons {
  margin-top: 65px;
}

.header__button {
  font-size: 16px;
  line-height: 23px;
  font-family: "LarsseitBold";
  letter-spacing: 0.1em;
  background-color: #F9B640;
  border-radius: 0;
}

.header__button--orange {
  color: #F9B640;
  background-color: transparent;
}

/*-Content-*/

.thrive {
  grid-column: 1/span 5;
  background-color: #62D0DF;
}

.thrive__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.thrive__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 615px;
  margin: 0 auto;
  padding: 25px;
}

.thrive__title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 0 95px 0;
  font-size: 36px;
  line-height: 27px;
  font-family: "LarsseitBold";
  color: #fff;
  letter-spacing: -0.006em;
}

.thrive__text {
  font-size: 24px;
  line-height: 35px;
  font-family: "LarsseitBold";
  color: #fff;
}

.thrive__text-span {
  font-family: "LarsseitRegular";
}

.thrive-img {
  grid-column: 6/span 3;
  min-height: 600px;
}

.thrive-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/*-footer-*/

@supports (-webkit-appearance:none) {
  .header--bg {
    background: url("../assets/images/header/bg.webp")/73% 100% no-repeat;
  }
}

@media (max-width: 1160px) {
  .container {
    max-width: 992px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 768px) {
  .button {
    margin-top: 50px;
  }

  .burger {
    display: block;
  }

  .logo {
    text-align: center;
    font-size: 40px;
  }

  .header--bg {
    background: url("../assets/images/header/bg.png")/100% 100% no-repeat;
  }

  .header__img {
    display: none;
  }

  .header__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .thrive {
    grid-column: 1/span 8;
  }

  .thrive__title {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }

  .thrive__text {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }

  .thrive-img {
    grid-column: 1/span 8;
    min-height: 0;
    height: 300px;
  }

@supports (-webkit-appearance:none) {
    .header--bg {
      background: url("../assets/images/header/bg.webp")/100% 100% no-repeat;
    }
}
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }

@supports (-webkit-appearance:none) {

}
}