
.burger {	
	display: none;
	@include size(35px,25px);

	position: absolute;
	top: 5%;
	left: 100%;
	z-index: 999;

	cursor: pointer;

	transition: left 500ms ease , top 500ms ease;

	@media  screen and (max-width:768px) {
		display: block;
	}
}

.block.active{
	display: block;
	transform: translate(0);
	visibility: visible;
}

.burger.w{
	left: 80%;
	top: 6%;
}


.burger span,
.burger::after,
.burger::before{
	content: "";
	@include size(100%,3px);

	position:absolute;
	bottom:100%;
	left:0;

	background-color: rgb(41, 0, 94);
	
	transition: top 500ms ease, transform 500ms ease;
}

.burger span{
	top:50%;
	
}

.burger::before{
	top:100%;

	transition: top 500ms ease, transform 500ms ease;
}

.burger::after{
	top: 0%;

	transition: top 500ms ease, transform 500ms ease;
}

.burger.active span{
	transform: scale(0);

	transition: top 500ms ease, transform 500ms ease;
}

.burger.active::before{
	top:40%;

	transform: rotate(45deg);
	transition: top 500ms ease, transform 500ms ease;
}

.burger.active::after {
	top:40%;

	transform: rotate(-45deg);
	transition: all 500ms ease;
}


.block{
	min-width: 360px;
	min-height:500px;
	padding: 25px 0;

	position:fixed;
	top:5%;
	left:0;
	z-index: 500;

	background-color: rgba(78, 76, 66, 0.801);
	box-shadow: 0 0 5px #000 ;

	transform: translateX(-101%);
	transition:transform 500ms ease , visibility 500ms ease;
}



.menu{
	@include size(100%);
}

.header__list.done{
	@extend %flexCenter;
	flex-direction: column;
	height: 100%;
	margin-top: 25px;
}

.header__list.done .header__items:not(:last-of-type){
	margin-bottom: 25px;
	margin-right: 0;
}

.header__list.done .header__items .header__link{
	@include font2(30px,40px);
}
	