.header--bg{
	background:url("#{$way-img}/header/bg.png")  /73% 100%  no-repeat;
}
.header {
	position: relative;
	min-height: 100vh;
	height: 100%;

	//header__img

	&__img{
		position:absolute;
		top:-6%;
		right: 0;
	}

	//header__container

	&__container{
		height: 100%;
		padding: 35px 15px 75px 15px;
		border: 1px solid #000;
	}

	// .header__top

	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__menu

	&__menu {
	}

	// .header__list

	&__list {
		display: flex;
	}

	// .header__items

	&__items:not(:last-of-type) {
		margin-right: 20px;
	}

	// .header__link

	&__link {
		@include font2(14px,16px);
		color: $main-color;
	}

	// .header__bottom

	&__bottom {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: calc(100% - 14px) ;
	}

	// .header__title

	&__title {
		max-width: 500px;
		margin:50px 0 80px 0;
		@include font4(48px,55px,$LarsseitBold,$main-color);
		letter-spacing: -0.035em;
	}

	//header__text

	&__text{
		max-width: 490px;
	}

	// .header__buttons

	&__buttons {
		margin-top:65px;
	}

	// .header__button

	&__button {
	@include font3(16px,23px,$LarsseitBold);
	letter-spacing: 0.1em;
	background-color: $header-btn-color;
	border-radius: 0;
	}

	&__button--orange{
		color: $header-btn-color;
		background-color: transparent;
	}
}



