.Plans {
	grid-column: 1 / span 8;

	// .Plans__row

	&__row {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
	}

	// .Plans__column

	&__column {
		padding: 50px;
		margin-bottom: 50px;
		width: 33.333%;
	}

	&__wrapper{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .Plans__title

	&__title {
		margin-bottom: 25px;
		flex-grow: 1;

		@include font4(28px,33px,$LarsseitRegular,$main-color);
		letter-spacing: -0.03em;
	}

	// .Plans__text

	&__text {
		max-width: 300px;
		margin-right: auto;

		@include font2(16px,25px);
		color: rgba(34, 53, 111, 0.5);
	}

	@media  screen and (max-width:768px) {
		&__column{
			min-height: 140px;
			width: 50%;
			padding: 0 25px ;
		}
	}
	@media  screen and (max-width:576px) {
		&__column{
			min-height: 0px;
			width: 100%;
			margin-bottom: 25px;
			padding: 0px;
			
		}

		&__text{
			height: 0;
			margin: 0 auto;
			text-align: center;

			overflow: hidden;
			transition: height 500ms ease;
		}
		
		&__title{
			margin: 0 auto 10px auto;
			text-align: center;
			cursor: pointer;
		}
		&__title{
			margin: 0 auto 25px auto;
			text-align: center;
			&.active + .Plans__text{
				height: 100px;
			}
		}
	}
}

