.thrive-img {
	grid-column: 6/ span 3;
	min-height: 600px;

	@media  screen and (max-width:768px) {
	grid-column: 1/ span 8;
	min-height:0;
	height: 300px;
	}
}
.thrive-img img{
	@include size(100%);
	object-fit: cover;
	object-position: center;
}