<footer class="footer">
	<div class="footer__row">

		<div class="footer__column">
			<h3 class="footer__title active">SOME INFO</h3>
			<div class="footer__wrapper">
				<p class="footer__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
			</div>
		</div>

		<div class="footer__column">
			<h3 class="footer__title">ENFOLD HEALTH</h3>
			<div class="footer__wrapper">
				<p class="footer__text">Main Street 1, Olcott Buffalo, United States</p>
				<span class="footer__text">+555 283 784 333</span>
				<a class="footer__text" href="#">office@enfold-health.com</a>
			</div>
		</div>

		<div class="footer__column">
			<h3 class="footer__title">OFFICE HOURS</h3>
			<div class="footer__wrapper">
				<span class="footer__text">Mo-Fr: 8:00-19:00</span>
				<span class="footer__text">Sa: 8:00-14:00</span>
				<span class="footer__text">Su: closed</span>
			</div>
		</div>

	</div> <!-- container -->
</footer> <!-- footer -->