<header class="header header--bg">
	<img class="header__img" src="./assets/images/header/img.png" alt="">
	<div class="header__container container">
		<div class="header__top">

			<h4 class="logo">Thrivetalk</h4>

			<nav class="header__menu">

				<ul class="header__list">
					<li class="header__items">
						<a href="#" class="header__link">Home</a>
					</li>
					
					<li class="header__items">
						<a href="#" class="header__link">About</a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link">Services</a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link">Blog</a>
					</li>

				</ul>
			</nav>

			<button class="button">CONTACT US</button>


			<div class="block">
				<div class="burger">
					<span></span>
				</div>
	
				<div class="menu"></div>
			</div>
			

		</div> <!-- header__top -->

		<div class="header__bottom">
			<h4 class="logo">Thrivetalk</h4>
			<h1 class="header__title">HELPING YOU THRIVE IN ALL AREAS OF LIFE</h1>
			<p class="header__text text">Our highly talented therapists can help you with a range of issues including relationships, sex, PTSD, depression, social anxiety, or even just caring for yourself more.</p>

			<div class="header__buttons">
				<button class="button header__button">WHO AM I</button>
				<button class="button header__button header__button--orange">WHAT DO I DO</button>
			</div>

		</div>

	</div> <!-- container -->
</header> <!-- header -->
