<section class="Plans">
	<div class="Plans__row">

		<div class="Plans__column">
			<div class="Plans__wrapper">
				<h3 class="Plans__title">Nutritional Plans</h3>
				<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we
					don’t , I need to replace this copy.</p>
			</div>
		</div>

		<div class="Plans__column">
			<div class="Plans__wrapper">
				<h3 class="Plans__title">Weight Loss</h3>
				<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we
					don’t , I need to replace this copy.</p>
			</div>
		</div>

		<div class="Plans__column">
			<div class="Plans__wrapper">
				<h3 class="Plans__title">Mental Peace</h3>
				<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we
					don’t
					, I need to replace this copy.</p>
			</div>
		</div>

		<div class="Plans__column">
			<div class="Plans__wrapper">
				<h3 class="Plans__title">Home Training</h3>
				<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we
					don’t
					, I need to replace this copy.</p>
			</div>
		</div>

		<div class="Plans__column">
			<div class="Plans__wrapper">
				<h3 class="Plans__title">Work/Life Balance</h3>
				<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we
					don’t
					, I need to replace this copy.</p>
			</div>
		</div>

		<div class="Plans__column">
			<div class="Plans__wrapper">
			<h3 class="Plans__title">Cardio</h3>
			<p class="Plans__text text">Nutritional Facts on some shitty things that you don’t care about and even we don’t
				, I need to replace this copy.</p>
		</div>
	</div>

	</div>
</section>