<section class="thrive">
	<div class="thrive__row">

		<div class="thrive__description">
			<h2 class="thrive__title">Why Thrive?</h2>
			<p class="thrive__text text">Want to improve your well-being from the comfort of your own couch? Are you
				having
				trouble finding the right therapist? <span class="thrive__text-span"> Here at ThriveTalk, our licensed therapists provide the same quality
				care
				you would get in office from anywhere you can access your laptop or mobile phone. Become your best self with
				ThriveTalk. Start therapy now with a licensed therapist!</span></p>
		</div>

	</div>  <!-- thrive__row -->
</section> <!-- thrive -->