<section class="Сategory">
	<div class="Сategory__row">

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Physical Health</h3>
		</div>

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Mental Health</h3>
		</div>

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Nutrition</h3>
		</div>

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Gymnastics</h3>
		</div>

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Crossfit</h3>
		</div>

		<div class="Сategory__column">
			<h3 class="Сategory__title title-two">Aerobics</h3>
		</div>

	</div>
</section>